// ! nav
.navMedia {
  display: none;
}
nav {
  padding: 22px 100px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  transition: 0.5s;
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #731106;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 4;
  }
  .logo {
    font-size: 30px;
    font-weight: 700;
  }
  //   ul
  ul {
    display: flex;
    align-items: center;
    gap: 25px;
    li {
      font-size: 18px;
      font-weight: 500;
      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }
  //   contact
  .contactBtn {
    z-index: 0;
    padding: 15px 24px;
    color: white;
    border: 2px solid white;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    background-color: red;

    p {
      position: relative;
      z-index: 3;
    }
    &:hover {
      .btnOverlay {
        background-color: rgba(107, 21, 11, 0.5);
        width: 100%;
      }
    }
  }
}

// ! media
@media (max-width: 992px) {
  nav {
    display: none;
  }
  .navMedia {
    z-index: 3;
    padding: 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    color: white;
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 4;

      .logo {
        background-color: #731106;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    }
    .logo {
      padding: 22px 50px;
      font-size: 30px;
      font-weight: 700;
    }
    .menu {
      text-align: right;
      display: flex;
      justify-content: right;
      background-color: grey;
      margin: 0 50px;
      padding: 10px;
      margin-top: -20px;
      .wrapper {
        display: flex;
        align-items: center;
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        cursor: pointer;
        p {
          font-size: 16px;
          font-weight: 400;
          margin-right: 5px;
        }
        i {
          font-size: 16px;
        }
      }
    }
    //   ul
    ul {
      display: flex;
      flex-direction: column;
      margin: 0 50px;
      background-color: grey;
      gap: 5px;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      transition: 0.5s;
      li {
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        padding: 5px;
        &:hover {
          background-color: whitesmoke;
          color: black;
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  nav {
    padding: 22px 50px;
  }
}
@media (max-width: 1200px) {
  nav {
    padding: 22px 10px;
  }
}
